# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [2]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [3]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [67]:
#  1. Get the total rides for each city type
rides_count = pyber_data_df.groupby(["city"]).count()["ride_id"]
print(drivers_count)

city
Amandaburgh         12.0
Barajasview         26.0
Barronchester       11.0
Bethanyland         22.0
Bradshawfurt         7.0
                    ...
West Robert         39.0
West Samuelburgh    73.0
Williamsonville      2.0
Williamsstad        59.0
Williamsview        46.0
Name: driver_count, Length: 120, dtype: float64

In [68]:
# 2. Get the total drivers for each city type
drivers_count = pyber_data_df.groupby(["city"]).sum()["driver_count"]
print(drivers_count)

city
Amandaburgh          216
Barajasview          572
Barronchester        176
Bethanyland          396
Bradshawfurt          70
                    ...
West Robert         1209
West Samuelburgh    1825
Williamsonville       28
Williamsstad        1357
Williamsview         920
Name: driver_count, Length: 120, dtype: int64

In [69]:
#  3. Get the total amount of fares for each city type
fares_count = pyber_data_df.groupby(["city"]).sum()["fare"]
print(fares_count)

city
Amandaburgh         443.55
Barajasview         557.31
Barronchester       582.76
Bethanyland         593.21
Bradshawfurt        400.64
                     ...
West Robert         778.84
West Samuelburgh    544.19
Williamsonville     446.25
Williamsstad        560.33
Williamsview        531.98
Name: fare, Length: 120, dtype: float64

In [70]:
#  4. Get the average fare per ride for each city type. 
fares_count = pyber_data_df.groupby(["city"]).mean()["fare"]
print(fares_count)

city
Amandaburgh         24.641667
Barajasview         25.332273
Barronchester       36.422500
Bethanyland         32.956111
Bradshawfurt        40.064000
                      ...
West Robert         25.123871
West Samuelburgh    21.767600
Williamsonville     31.875000
Williamsstad        24.362174
Williamsview        26.599000
Name: fare, Length: 120, dtype: float64

In [71]:
# 5. Get the average fare per driver for each city type. 
drivers_count = pyber_data_df.groupby(["city"]).mean()["driver_count"]
print(drivers_count)

city
Amandaburgh         12.0
Barajasview         26.0
Barronchester       11.0
Bethanyland         22.0
Bradshawfurt         7.0
                    ...
West Robert         39.0
West Samuelburgh    73.0
Williamsonville      2.0
Williamsstad        59.0
Williamsview        46.0
Name: driver_count, Length: 120, dtype: float64

In [131]:
#  6a. Get the total rides for each type
type_Trideid_count = pyber_data_df.groupby(["type"]).count()["ride_id"]
type_Trideid_count.columnm=["Total Rides"]
type_Trideid_count

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [161]:
# 6b. Get the total drivers for each type
type_Tdrivers_count = pyber_data_df.groupby(["type"]).sum()["driver_count"]
type_Tdrivers_count.column=["Total Drivers"]
type_Tdrivers_count

type
Rural         537
Suburban     8570
Urban       59602
Name: driver_count, dtype: int64

In [170]:
#  6c. Get the total amount of fares for each type
type_Tfares_count = pyber_data_df.groupby(["type"]).sum()["fare"]
type_Tfares_count.column=["Total Fares"]
type_Tfares_count

type
Rural        4327.93
Suburban    19356.33
Urban       39854.38
Name: fare, dtype: float64

In [173]:
#  6d. Get the average fare per ride for each type.
type_riders_fares_avg = pyber_data_df.groupby(["type"]).mean()["fare"]
type_riders_fares_avg=round(type_riders_fares_avg,2)
type_riders_fares_avg.column=["Average Fare per Ride"]
type_riders_fares_avg

type
Rural       34.62
Suburban    30.97
Urban       24.53
Name: fare, dtype: float64

In [163]:
# 6e. Get the average fare per driver for each city type. 
type_drivers_fares_avg = pyber_data_df.groupby(["type"]).mean()["ride_id"]
type_drivers_fares_avg =round(type_riders_fares_avg ,2)
type_drivers_fares_avg.column=["Average Fare per Driver"]
type_drivers_fares_avg

type
Rural       4.647746e+12
Suburban    4.971015e+12
Urban       4.873485e+12
Name: ride_id, dtype: float64

In [139]:
# 6. Create Summary DataFrame 
pyber_summary_df1= pd.merge(type_Trideid_count,type_Tdrivers_count, how="left",on="type")
pyber_summary_df2= pd.merge(pyber_summary_df1, type_Tfares_count, how="left",on="type")
pyber_summary_df3= pd.merge(pyber_summary_df2, type_riders_fares_avg, how="left",on="type")
pyber_summary_df= pd.merge(pyber_summary_df3, type_drivers_fares_avg, how="left",on="type")
pyber_summary_df.head()

          ride_id_x  driver_count      fare     ride_id_y       ride_id
type
Rural           125           537   4327.93  4.647746e+12  4.647746e+12
Suburban        625          8570  19356.33  4.971015e+12  4.971015e+12
Urban          1625         59602  39854.38  4.873485e+12  4.873485e+12

In [140]:
# 6. Create Summary DataFrame with column names
pyber_summary_column_names=['Total_Rides','Total_Drivers','Total_Fares', 'Average Fare Per Ride','Average Fare Per Driver']
pyber_summary_df.columns= pyber_summary_column_names
pyber_summary_df.head()

,Total_Rides,Total_Drivers,Total_Fares,Average Fare Per Ride,Average Fare Per Driver
type,,,,,
Rural,125,537,4327.93,4.647746e+12,4.647746e+12
Suburban,625,8570,19356.33,4.971015e+12,4.971015e+12
Urban,1625,59602,39854.38,4.873485e+12,4.873485e+12

In [142]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None
pyber_summary_df.head()

,Total_Rides,Total_Drivers,Total_Fares,Average Fare Per Ride,Average Fare Per Driver
Rural,125,537,4327.93,4.647746e+12,4.647746e+12
Suburban,625,8570,19356.33,4.971015e+12,4.971015e+12
Urban,1625,59602,39854.38,4.873485e+12,4.873485e+12

In [176]:
#  8. Format the columns.
pyber_summary_df.style.format=({"{:.0}","{:.0}","${:.2f}","${:.2f}","{$:.2f}"})
pyber_summary_df.head()

,Total_Rides,Total_Drivers,Total_Fares,Average Fare Per Ride,Average Fare Per Driver
Rural,125,537,4327.93,4.647746e+12,4.647746e+12
Suburban,625,8570,19356.33,4.971015e+12,4.971015e+12
Urban,1625,59602,39854.38,4.873485e+12,4.873485e+12

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [11]:
# 1. Read the merged DataFrame
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

In [12]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [13]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [14]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [15]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [16]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [17]:
# 7. Check that the datatype for the index is datetime using df.info()

In [18]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [19]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')